@import url(http://fonts.googleapis.com/css?family=Pacifico);
#canvasDiv{
	background-color: seashell;
	border-radius: 12px;
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;

}

#saveButton {
	border: 3px solid red;
	border-radius: 10px;
	background-color: magenta;
	font-family: Pacifico;
	font-size: 18px;
	display: inline-block;
	float: right;
}

#menu_bar {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

h1 {
	color: navy;
	font-family: Pacifico;
	font-size: 6em;
	text-align: center;
}
#black_clr{
	display: inline-block;
	background-color: black;	
	border: 1px solid black;
	border-radius: 12px;
	width: 3em;
	height: 3em;
}

#red_clr{
	display: inline-block;
	background-color: red;	
	border: 1px solid red;
	border-radius: 12px;
	width: 3em;
	height: 3em;
}

#green_clr{
	display: inline-block;
	background-color: green;	
	border: 1px solid green;
	border-radius: 12px;	
	width: 3em;
	height: 3em;
}

#blue_clr{
	display: inline-block;
	background-color: blue;	
	border: 1px solid blue;
	border-radius: 12px;
	width: 3em;
	height: 3em;
}

.sizeBlock{
	display: inline-block;
	background-color: red;
	border: 1px solid red;
	border-radius: 12px;
	width: 3em;
	height: 3em;

}

#size_one{
	display: block;
	align: center;
	background-color: black;
	border: 1px hidden white;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	margin: 35%;
}

#size_two{
	display: block;
	align: center;
	background-color: black;
	border: 1px hidden white;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	margin: 25%;
}

#size_three{
	display: block;
	align: center;
	background-color: black;
	border: 1px hidden white;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	margin: 15%;
}